.userProfile {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}
.UserName {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}
.wrapper {
  border: 2px solid green;
  padding: 20px;
}
