.container {
  width: 100vw;
  height: 50px;
  position: relative;
  display: flex;
}
.signIn {
  width: 100px;
  position: absolute;
  margin: 30px 30px 0 0;
  right: 0;
  .button {
    color: #4433f1;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
  }
}
.img {
  margin: 30px 0 0 30px;
  width: 100px;
  height: inherit;
}
